.gif-button {
	background-color: green;
	margin-right: 10px;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	border: black;
}

p {
	font-weight: bold;
	font-size: 18px;
	color: red;
}

.gif-holder {
	float: left;
	margin: 0 20px;
	
}

#gifs {
	width: 65%;
	margin-top: 50px;
}

#search-container {
	float: right;
}

#search,
#search-button {
	font-size: 24px;
	font-weight: bold;
}

#buttons {
	width: 60%;
}

img {
	width: 200px;
}

body {
background: linear-gradient(90deg, blue, green); 
}